[submodule "modules/nvim"]
	path = modules/nvim
	url = git@github.com:yqlbu/dot-nvim.git
[submodule "modules/waybar"]
	path = modules/waybar
	url = git@github.com:yqlbu/dot-waybar.git
[submodule "modules/rofi"]
	path = modules/rofi
	url = git@github.com:yqlbu/dot-rofi.git
[submodule "modules/swappy"]
	path = modules/swappy
	url = git@github.com:yqlbu/dot-swappy.git
[submodule "modules/hypr"]
	path = modules/hypr
	url = git@github.com:yqlbu/dot-hypr.git
[submodule "modules/dunst"]
	path = modules/dunst
	url = git@github.com:yqlbu/dot-dunst.git
[submodule "modules/qutebrowser"]
	path = modules/qutebrowser
	url = git@github.com:yqlbu/dot-qutebrowser.git
[submodule "modules/lf"]
	path = modules/lf
	url = git@github.com:yqlbu/dot-lf.git
