[submodule "modules/nvim"]
	path = modules/nvim
	url = git@github.com:yqlbu/dot-nvim.git
[submodule "modules/waybar"]
	path = modules/waybar
	url = git@github.com:yqlbu/dot-waybar.git
[submodule "modules/rofi"]
	path = modules/rofi
	url = git@github.com:yqlbu/dot-rofi.git
[submodule "modules/swappy"]
	path = modules/swappy
	url = git@github.com:yqlbu/dot-swappy.git
[submodule "modules/hypr"]
	path = modules/hypr
	url = git@github.com:yqlbu/dot-hypr.git
