/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  font: "FiraCode Nerd Font Mono 14";
  dpi: 144;
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
}
@theme "themes/sidetab-nord.rasi"
