/**
 *
 * Author : Kevin YU
 * Github : @yqlbu
 * 
 * Colors
 **/

* {
    background:     #1E2127;
    background-alt: #282B31;
    foreground:     #CCCCFF;
    outline:        #393A3D;
    selected:       #61AFEF;
    active:         #98C379;
    urgent:         #E06C75;
}
